body {
  background-color: white;
  color: black;
}
.headline {
  width: 100%;
  height: 60px;
}
.maincontent {
  background-color: #35a173;
  padding: 10%;
  color: white;
  border: 4px dashed black;
}
