* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  background-color: white;
  color: black;
  font-family: 'Arial';
}
.headline {
  width: 100%;
  background-color: #35a173;
  height: 20px;
}
.headline2 {
  width: 100%;
  background-color: white;
  height: 60px;
}
.maincontent {
  background-color: #35a173;
  padding: 30px 10% 10% 10%;
  color: white;
  text-align: justify;
  text-justify: inter-word;
}
